@import 'fonts';

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Century Gothic Regular';
    font-size: 20px;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.lock{
    overflow-y: hidden;
}

.container{
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn{
    display: inline-block;
    color: #fff;
    font-family: 'Century Gothic Bold';
    background: var(--green, #40BCCD);
    border: 2px solid transparent;
    padding: 20px 40px;
    text-transform: uppercase;
    max-height: 65px;
    transition: all .3s;
}

.header{
    padding: 40px 0 50px;
    &__top{
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        &-nav{
            margin-right: 40px;
        }
        &-li{
            display: inline-block;
            margin-right: 20px;
            border-bottom: 2px solid transparent;
            transition: all .3s;
        }
        &-li:last-child{
            margin-right: 0;
        }
    }
    &__calendar-link{
        position: relative;
    }
    &__calendar{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transition: all .3s;
        z-index: 3;
        padding-top: 15px;
    }
    &__calendar._active{
        opacity: 1;
        visibility: visible;
    }
    &__logo{
        margin-right: auto;
    }
    &__bottom{
        display: flex;
        align-items: center;
        font-size: 24px;
    }
    &__menu{
        font-size: 21px;
        font-family: 'Century Gothic Bold';
        margin-right: auto;
        &-li{
            display: inline-block;
            padding: 15px 23px;
            border: 2px solid transparent;
            transition: all .3s;
            text-transform: uppercase;
        }
    }
    &__settings{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__settings button{
        font-size: 24px;
        display: flex;
        cursor: pointer;
        background-color: transparent;
        border: none;
        margin-right: 7px;
        &:last-child{
            margin-right: 0;
        }
    }
}

.top{
    position: relative;
    &__slider .slick-arrow{
        position: absolute;
        bottom: 70px;
        z-index: 5;
        right: 0;
        font-size: 0;
        border: none;
        outline: none;
        width: 100px;
        height: 100%;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: bottom;
        cursor: pointer;
    }
    &__slider .slick-next{
        margin-right: 60px;
        background-image: url(../images/arrow-next.svg);
    }
    &__slider .slick-prev{
        margin-right: 180px;
        background-image: url(../images/arrow-prev.svg);
    }
    &__inner{
        position: absolute;
        bottom: 117px;
        color: #fff;
    }
    &__title{
        font-family: 'Century Gothic Bold';
        font-size: 90px;
        margin-bottom: 25px;
    }
    &__place{
        font-size: 55px;
        margin-bottom: 45px;
        padding-left: 102px;
        &::before{
            position: absolute;
            content: '';
            width: 82px;
            height: 82px;
            background-image: url(../images/place.svg);
            background-repeat: no-repeat;
            left: 0;
        }
    }
}

.about{
    padding: 115px 0 50px;
    &__flex{
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        &-filials{
            margin-right: 60px;
        }
        &-descr{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 100px 20px;
        }
        &-item{
            max-width: 520px;
            box-shadow: 0px 0px 25px 0px transparent;
            transition: all .3s;
        }
        &-img{
            margin-bottom: 20px;
        }
        &-p{
            padding: 0 15px 15px;
        }
        &-title{
            font-family: 'Ysabeau SC Semi-Bold';
            font-size: 24px;
            margin-bottom: 10px;
        }
        &-place{
            margin-bottom: 10px;
        }
        &-text{
            margin-bottom: 10px;
        }
        &-btn{
            color: #40BCCD;
        }
    }
    &__title{
        font-family: 'Ysabeau SC Bold';
        font-size: 36px;
        margin-bottom: 40px;
    }
    &__filials{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        &-item{
            padding: 20px 0;
            border-bottom: 1px solid #40BCCD;
        }
    }
    &__all{
        margin-bottom: 30px;
        &-link{
            padding-bottom: 10px;
            border-bottom: 1px solid #000;
        }
    }
    // &__soc{
    //     &-link{}
    // }
    &__inline{
        margin-bottom: 100px;
        &-item{
            .years{
                font-size: 128px;
            }
            .chislo{
                font-size: 64px;
            }
            span{
                color: #40BCCD;
            }
        }
    }
}

.news{
    padding: 50px 0;
    background: #F7F7F7;
    &__inner{

    }
    &__title{
        font-family: 'Ysabeau SC Bold';
        margin-bottom: 40px;
        font-size: 36px;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        &-item{
            max-width: 340px;
            margin-right: 20px;
        }
        &-item:last-child{
            margin-right: 0;
        }
        &-title{
            font-family: 'Ysabeau SC Semi-Bold';
            font-size: 24px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 2px solid #40BCCD;
        }
        &-descr{
            margin-bottom: 20px;
        }
        &-btn{
            color: #40BCCD;
        }
    }
}

.card{
    padding: 50px 0 80px;
    &__items{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        width: 50%;
    }
    &__item._images{
        position: relative;
        text-align: right;
    }
    &__blue{
        position: absolute;
        left: 0;
        top: 136px;
    }
    &__title{
        font-family: 'Ysabeau SC Bold';
        font-size: 36px;
        margin-bottom: 40px;
        span{
            color: #40BCCD;
        }
    }
    &__descr{
        margin-bottom: 40px;
    }
    &__btns .btn:first-child{
        margin-right: 20px;
    }
    &__partners{
        padding-top: 150px;
    }
}

.feedback{
    background: var(--green, #40BCCD);
    padding: 50px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        color: #fff;
        font-family: 'Ysabeau SC Bold';
        font-size: 36px;
    }
    &__btn{
        background: #fff;
        color: #000;
        font-family: 'Century Gothic Bold';
        padding: 20px 40px;
    }
}

.footer{
    padding: 150px 0 70px;
    background: #262626;
    color: #fff;
    position: relative;
    &__inner{}
    &__menu{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #fff;
        &-item{
            max-width: 270px;
            margin-right: 10px;
        }
        &-item:last-child{
            margin-right: 0;
        }
        &-list{}
        &-li{
            margin-bottom: 10px;
        }
        &-li:last-child{
            margin-bottom: 0;
        }
    }
    &__copy{
        display: flex;
        justify-content: space-between;
        &-text a{
            color: var(--green, #40BCCD);
        }
    }
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(54, 54, 54, 0.3);
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .8s ease 0s;
    z-index: 10;
    &.open {
        opacity: 1;
        visibility: visible;
    }

    &__inner-form{
        max-width: 500px;
        background: #fff;
        position: relative;
        padding: 40px 100px;
    }

    &__close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 26px;
        right: 26px;
        cursor: pointer;
    }

    &__close::after,
    &__close::before {
        position: absolute;
        content: "";
        width: 25px;
        height: 2px;
        background-color: #69766D;
        top: 9px;
        right: -2px;
    }

    &__close::after {
        transform: rotate(45deg);
    }

    &__close::before {
        transform: rotate(-45deg);
    }
    &__body{
        text-align: center;
        font-size: 12px;
    }
    &__title{
        font-family: 'Ysabeau SC Bold';
        font-size: 36px;
        margin-bottom: 20px;
    }
    &__text{
        margin-bottom: 20px;
    }
    &__form{
        margin-bottom: 35px;
    }
    &__form-input{
        display: block;
        width: 100%;
        border: 1px solid #40BCCD;
        outline: none;
        padding: 8px 10px;
        font-family: 'Century Gothic Regular';
        font-size: 12px;
        margin-bottom: 10px;
        color: #000;
    }
    &__form-input[placholder]{
        font-family: inherit;
        color: #000;
        font-size: 12px;
    }
    &__form-textarea{
        resize: none;
        width: 100%;
        height: 100px;
        padding: 8px 10px;
        border: 1px solid #40BCCD;
        outline: none;
        font-family: 'Century Gothic Regular';
        font-size: 12px;
        color: #000;
        margin-bottom: 20px;
    }
    &__form-textarea[placeholder]{
        font-family: inherit;
        font-size: 12px;
        color: #000;
    }
    &__form-btn{
        display: block;
        width: 100%;
        padding: 20px 10px;
        background: #40BCCD;
        color: #fff;
        text-transform: uppercase;
        border: 2px solid transparent;
        outline: none;
        cursor: pointer;
        transition: all .3s;
    }
    &__privacy{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        &-input{
            margin-right: 10px;
        }
        &-text{
            text-align: left;
        }
    }
}

.scroll__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    // background: rgba(54, 54, 54, 0.3);
    &._active{
        visibility: visible;
    }
    &-inner{
        max-width: 585px;
        text-align: center;
        background-color: #fff;
        padding-bottom: 40px;
        color: #000;
        img{
            width: 100%;
        }
    }
    &-close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 26px;
        right: 26px;
        cursor: pointer;
    }

    &-close::after,
    &-close::before {
        position: absolute;
        content: "";
        width: 25px;
        height: 2px;
        background-color: #69766D;
        top: 9px;
        right: -2px;
    }

    &-close::after {
        transform: rotate(45deg);
    }

    &-close::before {
        transform: rotate(-45deg);
    }
    &-title{
        font-family: 'Ysabeau SC Bold';
        font-size: 36px;
        margin-bottom: 20px;
    }
    &-text{
        margin-bottom: 20px;
    }
}

._anim-show{
    // transform: translate(0, 120%);
    opacity: 0;
    transition: all .3s ease 0s;
}
._anim-show._active,
._active ._anim-show{
    opacity: 1;
    transform: translate(0, 0);
}

// &__inner-gos{
//     max-width: 585px;
//     text-align: center;
//     background: #fff;
//     padding-bottom: 40px;
//     img{
//         width: 100%;
//     }
// }